/*
    creator:        www.danielklineweb.com
    created:        12/12/12
    client:         Ability Connection Oklahoma
*/

#slideshow {
	width: 695px;
	height: 148px;
	margin-left: 385px;
	margin-top: -115px;
}